.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #09BC8A;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    flex: 0 1 300px; /* Flex property to allow cards to be at least 300px wide */
}

.card:hover {
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0px 0px 10px 0px #74B3CE;
}

.card h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.card p {
    color: #ffffff;
}

/* Styles for screens 960px and above */
@media screen and (min-width: 960px) {
    .projects-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .card {
        width: 280px;
    }
}

/* Styles for screens between 768px and 959px */
@media screen and (min-width: 768px) and (max-width: 959px) {
    .card {
        width: 220px;
    }
}

/* Styles for screens below 768px */
@media screen and (max-width: 767px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    @media screen and (max-width: 767px) {
        .card {
            width: 100%; /* Full width on small screens */
            max-width: 300px; /* Maximum width */
        }
      }
      
}
