.csharp-container-game {
    padding: 20px;
    text-align: center;
}

.csharp-container-game h1 {
    color: #09BC8A;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.csharp-container-game ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Keep the list items centered */
}

.csharp-container-game li {
    margin: 10px 0;
    width: 100%;
    max-width: 600px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    transition: background-color 0.3s, height 0.3s ease;
}

.project-header-game {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: white;
    transition: background-color 0.3s;
}

.project-details-game {
    padding: 10px;
    background-color: rgba(97, 97, 97, 0.009);
    width: 100%; /* Ensure the container uses full width */
}

.project-details-game ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Keep the list items centered */
    cursor: default;
}

.project-details-game li {
    color: #83cceb;
    margin: 10px 0;
    width: 100%;
    max-width: 600px;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s, height 0.3s ease;
    cursor: default;
    padding: 10px;
    text-align: left; /* Left align the text */
}

.project-details-game li div {
    text-align: left; /* Ensure the text is left-aligned */
    width: 100%; /* Take full width of the li */
}

.project-details-game-li-bold {
    color: #09BC8A !important;
    font-weight: bold;
    text-decoration: underline;
}

.project-header-game:hover {
    background-color: rgba(9, 138, 188, 0.9);
}

.expanded .project-header-game {
    background-color: rgba(9, 138, 188, 0.9);
}

.project-details-game p {
    color: white;
}

.project-link-button-game {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #09BC8A;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-left: auto;
    margin-right: auto;
}

.project-link-button-game:hover {
    background-color: #07a373;
}

.expanded {
    background-color: rgba(255, 255, 255, 0.05);
}

.hLine::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin: 0.5rem auto;
    background: linear-gradient(to right, transparent 10%, #09BC8A 45%, #09BC8A 55%, transparent 90%);
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}
